/* Start CSS Reset */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

span {
    display: inline-block;
}

li {
    list-style: none;
}
/* End CSS Reset */

/* Start Font Styling */
.text__center {
    text-align: center;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__justify {
    text-align: justify;
}
/* End Font Styling */

body {
    background-color: #F7F5EB;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

/* NAVBAR */
.navbar {
    background-color: #39B5E0;
    height: 56px;
    display: flex;
    align-items: center;
}

.navbar a, 
.navbar__item a {
    color: white;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .banner__wrapper .title__banner {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}


.navbar .navbar__list {
    display: flex;
}

.navbar .navbar__list .navbar__item {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.navbar .navbar__list .navbar__dropdown a {
    display: flex;
    align-items: center;
}

.navbar .navbar__list .navbar__dropdown .dropdown__icon {
    font-size: 20px;
    margin-left: 3px;
}

/* SIDENAV */
.sidenav__wrapper .sidenav a {
    color: white;
}

.sidenav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 205px;
    background-color: #FFF;
    z-index: 99999;
    transition: transform .6s ease-in-out;
    transform: translateX(-100%);
}

.sidenav__wrapper.active {
    transform: translateX(0);
}

.sidenav__wrapper .sidenav {
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #39B5E0;
    padding-right: 10px;
}

.sidenav__wrapper .sidenav .banner__wrapper .title__banner {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.sidenav__wrapper .sidenav__list {
    height: calc(100vh - 56px);
    padding-top: 20px;
    overflow-y: auto;
    position: relative;
    padding-bottom: 20px;
}

.sidenav__wrapper .sidenav__list .sidenav__item > a {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #39B5E0;
    margin-top: 5px;
    color: #16213E;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown {
    display: none;
    position: relative;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown.active {
    display: block;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown.active::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    background-color: #FFF;
    animation: sidenav_dropdown_active 3s ease;
}

@keyframes sidenav_dropdown_active {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown .sidenav__dropdown__list .sidenav__dropdown__item {
    position: relative;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown .sidenav__dropdown__list .sidenav__dropdown__item a {
    padding-left: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #16213E;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown .sidenav__dropdown__list .sidenav__dropdown__item a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    height: 15px;
    width: 1px;
    background-color: #39B5E0;
}

.sidenav__wrapper .sidenav__list .sidenav__dropdown .sidenav__dropdown__list .sidenav__dropdown__item a::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    height: 1px;
    width: 10px;
    background-color: #39B5E0;
}

/* CONTENT */
.page {
    padding-top: 20px;
    margin-left: 210px;
}

.content__wrapper {
    height: calc(100vh - 82px);
    border-radius: .275rem;
    padding: 10px 15px 20px 15px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title__page {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-weight: 100;
}

.refresh__toggler {
    height: min-content;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: white;
    /* background-color: #B3FFAE; */
    background-color: #98A8F8;
    border-radius: .125rem;
    margin-bottom: 10px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.refresh__toggler i {
    font-size: 18px;
    margin-left: 5px;
}

.refresh__toggler:hover,
.refresh__toggler:active {
    color: #16213E;
    background-color: #98A8F8;
}

.table__wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 160px);
}

.table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    padding: 10px;
    white-space: nowrap;
    color: #fff;
    border: 1px solid transparent;
    color: #16213E;
}

.table th {
    padding: 15px 10px;
    color: white;
}

.table thead tr {
    background-color: #39B5E0;
}

.table tbody tr:nth-child(odd) {
    background-color: #DEF5E5;
}

.table tbody tr:nth-child(even) {
    background-color: #FFDDD2;
}

/* LOADING */
/* LOADING */
.loading__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
    z-index: 999999;
}


.loading__wrapper.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.spinner__icon {
    width: 46px;
    height: 46px;
    border-width: .40rem;
    border-style: solid;
    border-color: #fff;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner__text {
    color: white;
}

.spinner__text::after {
    animation: ellipsis 2s steps(3) infinite;
    content: ". . .";
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

@keyframes ellipsis {
    0% { width: 0; }
    75% { width: 3ch; }
    100% { width: 5ch; }
}

/* Upload File */
#drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: #DFD3C3;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
#drop-area.highlight {
    border-color: #85586F;
}
.label__file {
    padding: 5px 15px;
    color: #16213E;
    border-radius: .125rem;
    background-color: #ECE8DD;
    border-radius: .125rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.label__file:hover,
.label__file:active {
    color: #16213E;
}
.input__file {
    display: none;
}
#inputFile {
    display: none;
}
.info__input__file {
    font-size: 16px;
}
.submit__file {
    padding: .5rem;
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: .175rem;
    cursor: pointer;
    width: 100%;
    background-color: #39B5E0;
}
#displayFile {
    margin: 15px 0;
    display: none;
    padding: 10px 0;
    position: relative;
}
#displayFile.active {
    display: flex;
    justify-content: space-between;
}
#displayFile.upload::after, #displayFile.upload::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
}
#displayFile.upload::before {
    width: 100%;
    background-color: whitesmoke;
}
#displayFile.upload::after {
    width: 0%;
    background-color: #FD8A8A;
    animation: file_upload 1s ease;
}
@keyframes file_upload {
    0% { width: 0; }
    100% { width: 100%; }
}
#delFileElem {
    color: #FF0032;
    cursor: pointer;
}