{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clustering | {{ title_page }}</title>
    <!-- ICON -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'/>

    <!-- STYLE -->
    <link rel="stylesheet" href="{% static 'css/css_grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- TOP NAVBAR -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="banner__wrapper">
                <a href="{% url 'real_data' %}" class="title__banner">Clustering</a>
            </div>
            <div class="navbar__wrapper">
                <ul class="navbar__list">
                    <li class="navbar__item">
                        <a href="{% url 'index' %}">Upload File</a>
                    </li>
                    {% if upload_file %}
                        <li class="navbar__item">
                            <a href="{% url 'real_data' %}">Data from Health Departement</a>
                        </li>
                        <li class="navbar__item">
                            <a href="{% url 'uncleanup' %}">Pre-Cleaned Data</a>
                        </li>
                        <li class="navbar__item">
                            <a href="{% url 'cleanup' %}">Cleaned Data</a>
                        </li>
                        <li class="navbar__item navbar__dropdown">
                            <a href="">
                                <span>Cluster Reports</span>
                                <i class='dropdown__icon bx bx-chevron-down'></i>
                            </a>
                        </li>

                        {% if cluster_view %}
                        <li class="navbar__item navbar__dropdown">
                            <a href="">
                                <span>Spectral Clustering</span>
                                <i class='dropdown__icon bx bx-chevron-down'></i>
                            </a>
                        </li>
                        <li class="navbar__item navbar__dropdown">
                            <a href="">
                                <span>Kmedoid Clustering</span>
                                <i class='dropdown__icon bx bx-chevron-down'></i>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- SIDE NAVBAR -->
    <div class="sidenav__wrapper active" id="sidenav-wrapper" first="true">
        <nav class="sidenav">
            <div class="container-fluid">
                <div class="banner__wrapper">
                    <a href="" class="title__banner">Clustering</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <ul class="sidenav__list">
                
                <!-- CLUSTER REPORTS -->
                <li class="sidenav__item sidenav__dropdown reports__dropdown">
                    <a href="">
                        <span>Cluster Reports</span>
                    </a>
                    <ul class="sidenav__dropdown__list">
                        <li class="sidenav__dropdown__item">
                            <a href="" id="download-html">
                                <span>HTML Profiling</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'excel_report' %}">
                                <span>EXCEL Report</span>
                            </a>
                        </li>
                    </ul>
                </li>

                {% if cluster_view %}
                <!-- SPECTRAL CLUSTERING -->
                <li class="sidenav__item sidenav__dropdown spectral__dropdown  {{ spectral_active }}">
                    <a href="">
                        <span>Spectral Clustering Data</span>
                    </a>
                    <ul class="sidenav__dropdown__list">
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_0' %}">
                                <span>Data Cluster 0</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_1' %}">
                                <span>Data Cluster 1</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_2' %}">
                                <span>Data Cluster 2</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_3' %}">
                                <span>Data Cluster 3</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_4' %}">
                                <span>Data Cluster 4</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:cluster_5' %}">
                                <span>Data Cluster 5</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav__item sidenav__dropdown spectral__dropdown {{ spectral_active }}">
                    <a href="">
                        <span>Spectral Clustering Report</span>
                    </a>
                    <ul class="sidenav__dropdown__list">
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=0">
                                <span>Report Cluster 0</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=1">
                                <span>Report Cluster 1</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=2">
                                <span>Report Cluster 2</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=3">
                                <span>Report Cluster 3</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=4">
                                <span>Report Cluster 4</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'spectral:reports' %}?cluster=5">
                                <span>Report Cluster 5</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- KMEDOID CLUSTERING -->
                <li class="sidenav__item sidenav__dropdown kmedoid__dropdown {{ kmedoid_active }}">
                    <a href="">
                        <span>Kmedoid Clustering Data</span>
                    </a>
                    <ul class="sidenav__dropdown__list">
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_0' %}">
                                <span>Data Cluster 0</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_1' %}">
                                <span>Data Cluster 1</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_2' %}">
                                <span>Data Cluster 2</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_3' %}">
                                <span>Data Cluster 3</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_4' %}">
                                <span>Data Cluster 4</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:cluster_5' %}">
                                <span>Data Cluster 5</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidenav__item sidenav__dropdown kmedoid__dropdown {{ kmedoid_active }}">
                    <a href="">
                        <span>Kmedoid Clustering Report</span>
                    </a>
                    <ul class="sidenav__dropdown__list">
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=0">
                                <span>Report Cluster 0</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=1">
                                <span>Report Cluster 1</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=2">
                                <span>Report Cluster 2</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=3">
                                <span>Report Cluster 3</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=4">
                                <span>Report Cluster 4</span>
                            </a>
                        </li>
                        <li class="sidenav__dropdown__item">
                            <a href="{% url 'kmedoid:reports' %}?cluster=5">
                                <span>Report Cluster 5</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>


    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/download_file.js' %}"></script>
    
    {% block javascript %}
    <script src="{% static 'js/input_file.js' %}"></script>
    {% endblock %}
</body>
</html>