{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- MAIN CONTENT -->
<div class="page">
    <div class="container-fluid">
        <div class="content__wrapper">
            <div class="header__wrapper">
                <div class="refresh__toggler__wrapper">

                    {% if refresh_button_cluster_kmedoid %}
                    <a href="{% url 'kmedoid:kmedoid_refresh' %}?cluster={{ data_query_param }}" class="refresh__toggler" type="button">
                        Refresh
                        <i class='bx bx-refresh'></i>
                    </a>
                    {% endif %}

                    {% if refresh_button_cluster_spectral %}
                    <a href="{% url 'spectral:spectral_refresh' %}?cluster={{ data_query_param }}" class="refresh__toggler" type="button">
                        Refresh
                        <i class='bx bx-refresh'></i>
                    </a>
                    {% endif %}
                    
                    {% if refresh_button == False %}
                    <a href="{% url 'cleanup' %}?refresh_data=0" class="refresh__toggler" type="button">
                        Data Enters Machine Learning
                        <i class='bx bx-refresh'></i>
                    </a>
                    {% endif %}

                    {% if refresh_button %}
                    <a href="{% url 'cleanup' %}?refresh_data=1" class="refresh__toggler" type="button">
                        Refresh
                        <i class='bx bx-refresh'></i>
                    </a>
                    {% endif %}

                </div>
                <h2 class="title__page">{{ title_page }}</h2>
            </div>
            <div class="table__wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            {% for title in title_data %}
                                <th class="text__center">{{ title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in content_data %}
                        <tr>
                            {% for k, v in data.items %}
                                {% if k != 'index' %}
                                    <td class="text__center">{{ v }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- LOADING -->
<div id="loading-wrapper" class="loading__wrapper">
    <div class="spinner__icon"></div>
    <p class="spinner__text">Generating Report</p>
</div>
{% endblock %}